// media queries -----------------------------------------------------------

// Extra small screen / phone
$screen_xs: 340px !default;
// Small screen / phone
$screen_sm: 568px !default;
// Medium screen / tablet
$screen_md: 769px !default;
// Large screen / desktop
$screen_lg: 1024px !default;
// Extra large screen / wide desktop
$screen_xl: 1200px !default;

$tablet: lg !default;
$tabletv: md !default;

// Colors ---------------------------------------------------------

$neutral000: #fff !default;
$neutral010: darken($neutral000, 2.6%) !default;
$neutral100: darken($neutral000, 10%) !default;
$neutral200: darken($neutral000, 20%) !default;
$neutral300: darken($neutral000, 30%) !default;
$neutral400: darken($neutral000, 40%) !default;
$neutral500: darken($neutral000, 50%) !default;
$neutral600: darken($neutral000, 60%) !default;
$neutral700: darken($neutral000, 70%) !default;
$neutral800: darken($neutral000, 80%) !default;
$neutral900: darken($neutral000, 90%) !default;
$neutral999: darken($neutral000, 100%) !default;

$main_color: #ffa300 !default;
$custom_color: #84b044 !default;
$success_color: #35a838 !default;
$error_color: #cc3d33 !default;
$warning_color: #ffee58 !default;

// fonts ---------------------------------------------------------

$fontset: 'Helvetica Neue', helvetica, arial, sans-serif !default;
$fontsize: 62.5% !default;
$fontsize_m: 81.3% !default;
$fontsize_l: 100% !default;
$fontsize_xl: 125% !default;
$lineheight: 1.3;

// z-index ---------------------------------------------------------

$z_bottom: -1 !default;
$z_base: 0 !default;
$z_baseup: 100 !default;
$z_mediumdown: 499 !default;
$z_medium: 500 !default;
$z_mediumup: 501 !default;
$z_superior: 1000 !default;
$zz_top: 1200 !default;
$zz_modal: 9999;

$round: 2.5rem !default;
