@import 'resets';
@import 'default_vars';
@import 'common';

body {
    font-family: $fontset;
    font-size: $fontsize;
}

/* postcss-bem-linter: define listItem */

.listItem {
    border: .3rem solid $main-color;
    padding: 2rem 0;

    &__img {
        display: none;
    }

    &__imgFix {
        @extend %background-cover;

        height: 10rem;
        width: 10rem;
    }

    &__title {
        color: $main-color;
    }
}
