name: Deploy project

on:
  push:
    branches:
      - master

jobs:
  deploy:
    name: Publish to surge.sh
    runs-on: ubuntu-latest
    steps:
      - name: Deploy to play-scss.surge.sh
        uses: dswistowski/surge-sh-action@v1
        with:
          domain: 'play-scss.surge.sh'
          project: '.'
          login: ${{ secrets.surge_login }}
          token: ${{ secrets.surge_token }}
